.search__field {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input {
    font-size: 16px;
    margin: 0 10px;
    border: 2px solid #3564AD;
    padding: 10px;
    border-radius: 10px;

}