.link {
    width: 55px;
    height: 55px;
    margin: 20px;
    border: 6px solid #3564AD;
    border-radius: 100px;
    box-shadow: 3px 3px 3px  grey;
    display: block;
    padding: 0 2px;
    background-color: rgb(255, 225, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow__link {
    text-decoration: none;
    color: #3564AD;
    font-size: 40px;
    font-weight: 900;
    padding: 5px 5px;
  }