body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom,lightgrey, white);
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
}