.App {
  text-align: center;
  background-image: url('./background.jpg');
  height: 100vh;
  width: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  color: blue;
}